
header,section,footer{
    background-color: rgb(251, 251, 251);
    border: 5px solid black;
}
section li {
    display: inline;
    margin-right: 4vw;
    position: relative;
    right: 5vw;
    top: 0;
    line: height 80px; 
}
header h1 ,header h2{
    background-color: rgb(0, 221, 255);
    height: 80px;
    width: 100%;
}